{% extends 'base.html' %}

{% block hero %}

<div class="container">
  <section class="hero">
    <h1>Text Text Text Text Text<br>Text Text Text</h1>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text <br>Text Text Text Text Text Text Text Text Text Text Text Text </p>
    <div class="btn-group">
      <button class="btn-primary">Start Training Now</button>
      <button class="btn-secondary">Learn More</button>
    </div>
  </section>
</div>

{% endblock %}
